{%extends 'base.html' %}

{%load static%}

{% block content%}

<div class="d-flex justice-content-center" >
    <div class="card w-50">
        <div class="card-body">
        <h5 class="card-title">Update Product</h5>
            <form method="POST" class="post-form" action="">  
            {%csrf_token%}
            <input type="text" class=" mb-3 form-control" name='product_name' id="id_id" value="{{list.product_name}}"/>
            <input type="price" class="mb-3 form-control" name='price' id="id_id" value="{{list.price}}"/>
            <div>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}
